In [18]:
import pandas as pd
import numpy as np
data = pd.read_csv("data/enavi201605(6271).csv",encoding="shift_jis")

In [70]:

price = pd.DataFrame(data.groupby("利用店名・商品名")["利用金額"].sum())
#price

price = pd.DataFrame(pd.pivot_table(data,values='支払総額',index=['利用店名・商品名'],aggfunc=np.sum))
data
#price.sort(columns='支払総額',ascending=False)

group2 = data.groupby(['利用店名・商品名','利用日'])
group2.count()

#カラム別に計算方法を変える
group1 = data.groupby(['利用店名・商品名'])['利用金額']
group1.agg([('利用金額',np.mean),('支払総額',np.sum),('利用店名・商品名','count')])

#カラムごとに複数計算を同時に行う
functions = ['count' , 'mean' , 'sum']
group2['利用金額','支払総額'].agg(functions)

#カラムごとに別の計算をする
group2.agg({'利用金額' : ['count', 'sum'], '支払総額' :['mean']})

                                    支払総額  利用金額
                                    mean count    sum
利用店名・商品名          利用日
AMAZON DOWNLOADS  16.04.06    400.000000     1    400
                  16.04.08    896.000000     2   1792
                  16.04.09    432.000000     2    864
                  16.04.14    432.000000     1    432
                  16.04.16    572.666667     3   1718
                  16.04.19    486.000000     1    486
                  16.04.20    500.000000     3   1500
                  16.04.24    893.333333     3   2680
                  16.04.26    756.000000     2   1512
                  16.04.29    447.428571     7   3132
                  16.04.30    432.000000    11   4752
AUDIBLE / AMZN    16.04.15   1500.000000     1   1500
BASE*ﾅﾐﾘｰ         16.04.01   1960.000000     1   1960
BILL ITUNES COM   16.04.04   1480.000000     1   1480
                  16.04.14    600.000000     1    600
DMM               16.04.27   2198.000000     1   2198
GOOGLE *DENA利用国GB 16.04.19    300.000000     3    900
セブン−イレブン          16.03.31    323.500000     2    647
                  16.04.02    926.000000     1    926
                  16.04.03    785.000000     1    785
                  16.04.04    432.000000     1    432
                  16.04.08    560.000000     1    560
                  16.04.09    474.000000     1    474
                  16.04.16    378.000000     1    378
                  16.04.17    980.000000     2   1960
                  16.04.19    827.000000     1    827
                  16.04.24    954.000000     2   1908
                  16.04.29    158.000000     1    158
レストラン　オマージュ       16.04.29  45500.000000     1  45500
ローソン              16.04.01    108.000000     1    108
...                                  ...   ...    ...
ｻﾐﾂﾄｽﾄｱ ﾘﾖｳｺﾞｸｲｼﾜ 16.04.24    644.000000     1    644
                  16.04.30   3329.000000     1   3329
ｼｴﾛ ｲ ﾘｵ          16.04.17   6970.000000     1   6970
ｼﾙｺ               16.04.22   9650.000000     1   9650
ﾃﾞｲ-ｴﾑｴﾑ          16.04.04    490.000000     1    490
                  16.04.05    590.000000     1    590
                  16.04.08    980.000000     2   1960
                  16.04.09    580.000000     1    580
                  16.04.12   1170.000000     1   1170
                  16.04.13   1008.000000     1   1008
                  16.04.14    590.000000     1    590
                  16.04.15   1008.000000     1   1008
                  16.04.16    686.666667     3   2060
                  16.04.17    590.000000     2   1180
                  16.04.21    413.000000     1    413
                  16.04.22    580.000000     1    580
                  16.04.24    413.000000     1    413
                  16.04.26    413.000000     2    826
                  16.04.28    715.000000     2   1430
ﾃﾞｲﾘ-ﾔﾏｻﾞｷ        16.04.03    599.000000     2   1198
ﾄﾞﾗﾂｸﾞｾｲﾑｽｽﾐﾀﾞﾘﾖｳ 16.04.30   2187.000000     1   2187
ﾄﾞﾗﾂｸﾞｾｶﾞﾐｵｶﾁﾏﾁｴｷ 16.04.10   1514.000000     1   1514
ﾈｽﾚﾈｽﾌﾟﾚﾂｿ        16.04.06   5634.000000     1   5634
ﾌｱﾐﾘ-ﾏ-ﾄﾆｼｼﾝｼﾞﾕｸﾊ 16.04.18    460.000000     1    460
ﾏﾙｺﾞﾄﾆﾂﾎﾟﾝ        16.04.23   1020.000000     1   1020
ﾐﾆｽﾄﾂﾌﾟｼﾅﾉﾏﾁｴｷﾐﾅﾐ 16.04.30   1355.000000     1   1355
ﾓﾄﾏﾁﾕﾆｵﾝ          16.04.06    511.000000     1    511
                  16.04.25    615.000000     1    615
                  16.04.26    429.000000     1    429
                  16.04.28    537.000000     1    537

[74 rows x 3 columns]

In [ ]:
group1['利用金額','支払総額'].agg